---
layout: archive
toc: true
---

<h2>Anushka Idamekorala</h2>
<h4>Email: anb5km@virginia.edu</h4>
<hr class="solid">

<p><span style="color:blue"><em>I am currently looking for internship opportunities, 
  for summer 2024, preferably software engineering.</em></span></p>

<p style="text-align:justify">
  I am a 1<sup>rd</sup> year graduate student at University of Virginia. I am broadly interested in systems, distributed computing and deep learning. My current research focuses on
  privacy preserving machine learning.
  <br /> 
  <a href="./../assets/pdf/resume.pdf">Resume</a> &nbsp; | &nbsp;
  <a href="./../assets/pdf/adhitha_dias_cv.pdf">CV</a> &nbsp; | &nbsp;
  <a href="/about">MORE ABOUT MYSELF!</a>
  <br />
</p>

<hr class="solid">
<h2>News!</h2>
<hr class="solid">

<ul>
  <li>June 2023: Became am <b>AWS certified Solution Architect Associate</b></li>
  <li>May 2023: Finished the Spring semester with <b>CGPA: 4.0/ 4.0</b></li>
  <li>August 2022: Started my PhD in Computer Science at University of Virginia.</li>
  <li>May 2021: Started working as a Senior Software Engineer at Unibench, Australia through whichI directly worked with Novatti.</li>
  <li> October 2019: Started working as a Research Engineer at UNICERN LAB, Singapore Management University</li>
  <li>January 2019: Started working as a Software Engineer at Sysco LABS, Sri Lanka (Sysco LABS supports Sysco’s digital transformation with engineering teams in Colombo, Sri Lanka, and Austin and Houston, Texas, in the USA)</li>
  <li>December 2018: Graduated from the Faculty of Engineering, University of Moratuwa, Sri Lanka with a first class in BSc.(Hons.) in Electronics and Telecommunication Engineering.</li>






</ul>




<!--{{ content }}-->

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% for post in paginator.posts %}-->
  <!--{% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->
