---
layout: archive
toc: true
---

<h2>Anushka Idamekorala</h2>
<h4>Email: anb5km@virginia.edu</h4>
<hr class="solid">

<p><span style="color:blue"><em>I am currently looking for internship opportunities, 
  for summer 2024, preferably software engineering.</em></span></p>

<p style="text-align:justify">
  I am a 1<sup>rd</sup> year graduate student at University of Virginia. I am broadly interested in compilers,
  programming languages and high-performance computing. My current research focuses on 
  compile-time optimizations for sparse tensor algebra computations. 
  <br /> 
  <a href="./../assets/pdf/resume.pdf">Resume</a> &nbsp; | &nbsp;
  <a href="./../assets/pdf/adhitha_dias_cv.pdf">CV</a> &nbsp; | &nbsp;
  <a href="https://adhithadias.github.io/about">MORE ABOUT MYSELF!</a>
  <br />
  <span style="font-size:11px">An older (desktop friendly, mobile not-friendly) version of the website is available <a href="https://adhitha-site.herokuapp.com/">here</a>.</span>
</p>

<hr class="solid">
<h2>News!</h2>
<hr class="solid">

<ul>
  <li>June 2022: Our paper, my first paper as a grad student, won the best paper award at the International Conference on Supercomputing (ICS) '22</li>
  <li>June 2022: Received a travel grant to attend PLDI '22</li>
  <li> May 2022: Our paper titled, SparseLNR: Accelerating Sparse Tensor Computations Using Loop Nest Restructuring, was accepted at the International Conference on Supercomputing '22</li>
  <li> Octobar 2021: Attended Programming Language Mentoring Workshop (PLMW) at SPLASH '21 
    (ACM SIGPLAN conference on Systems, Programming Languages, and Applications: Software for Humanity)
  <li> June 2021: Attended Programming Language Mantoring Workshop (PLMW) at PLDI '21 
    (ACM SIGPLAN conference on Programming Language Design and Implementation)
  <li> January 2021: Started my PhD in Electrical and Computer Engineering at Purdue University.</li>
  <li> December 2020: Left my first job at Sysco LABS, Sri Lanka 
    (Sysco LABS supports Sysco’s digital transformation with engineering teams in Colombo, Sri Lanka, and Austin and Houston, Texas, in the USA)
  <li> June 2020: Our paper Deep Learning of Augmented Reality Based Human Interactions for Automating a Robot Team 
    got accepted to ICCAR 2020 (International Conference on Control, Automation and Robotics)</li>
  <li>December 2018: Graduated from the Faculty of Engineering, University of Moratuwa, Sri Lanka 
    with a first class in BSc.(Hons.) in Electronics and Telecommunication Engineering.</li>
</ul>




<!--{{ content }}-->

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% for post in paginator.posts %}-->
  <!--{% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->
